@media screen and (max-width: 1024px) {
    .main-container {
        .sectionOne{
            .sectionOne-container{
                padding: 20px 0;
                .presentation-holder{
                    width: 60%;
                }
            }
        }
        .sectionTwo{
            .sectionTwo-container{
                .technologies{
                    display: block;
                    margin-bottom: 50px;
                    .technology{
                        width: 50%;
                        margin: 0 auto;
                        text-align: center;
                    }
    
                }
            }
        }
        .contact-section{
            .homepage{
                .contact-form{
                    .contact-title{
                        display: block;
                        width: 100%;
                        text-align: center;
                        padding: 20px 0;
                    }
                    .form-container{
                        display: block;
                        width: 100%;
                        padding: 20px 0;
                        
                    }
                }
            }
        }
    }
}
