@media screen and (max-width: 767px) {
    .main-container{
        .sectionOne{
            .sectionOne-container{
                padding: 0;
                .presentation-holder{
                    padding: 0;
                    padding-top: 10px;
                    width: 60%;
                    .presentation-slider{
                        width: 100%;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .aboutMe{
                    .carouselleBox{
                        padding: 0 30px;
                        h3{
                            margin-top: 0;
                        }
                        p{
                            line-height: 1;
                        }
                    }
                }
            }
        }
        .homepage {
            nav .nav-container{ 
                .burger-menu {
                    div {
                    margin-left: 70%;
                    }
                } 
                .menu{
                    ul{
                        text-align: center;
                        li{
                            width: 100%;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }
            .info{
                top: 60%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        }
        .sectionTwo{
            .sectionTwo-container{
                h3{
                    font-size: 20px;
                    margin-top: 20px;
                }
                .technologies {
                    margin-bottom: 15px;
                    .technology {
                        p{
                            margin: 0;
                            padding-top: 10px;
                        }
                    }
                }
            }
        } 
        
    }
}