@media screen and (max-width: 767px) {
    .main-container{
        .sectionOne{
            .sectionOne-container{
                .aboutMe{
                    .swiper-container{
                        .swiper-slide{
                            p{
                                line-height: 1.2;
                            }
                        }
                    }
                }
            }
        }
        .homepage {
            nav .nav-container{ 
                .burger-menu {
                    div {
                    margin-left: 70%;
                    }
                } 
                .menu{
                    ul{
                        text-align: center;
                        li{
                            width: 100%;
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }
            .info{
                top: 60%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

        } 
    }
}